@import './vars.scss';

html {
    height: 100%;
    font-size:625%;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
html, body, p {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.e-clearfix:after {
    display: block;
    content: ' ';
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}
