<!DOCTYPE html>
<html>
<%-include("./templates/pageHead",{title: title})%>

<body>
    <h1>
        <%= title %>
    </h1>
    window滚动
    <br>
    <button onClick="windowSrollTo()">window滚动</button>
    <div id="dom1" style="height: 100px;width: 200px;border: 1px solid burlywood;overflow: auto">
        <h2>=</h2>
        <h2>=</h2>
        <h2>=</h2>
        <h2>=</h2>
        <h2>=</h2>
    </div>
    <button onClick="dom1SrollTo()">dom滚动</button>

    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <h1>-</h1>
    <%-include("./templates/pageFoot")%>
    <script>
        function windowSrollTo() {
            lumos.scrollTo(window, 0, 80 , 1000)
        }

        function dom1SrollTo(params) {
            lumos.scrollTo(document.querySelector("#dom1"), 0, 80, 500)            
        }
    </script>
</body>

</html>