<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.5.1/fingerprint2.min.js"></script>
    <title>Document</title>
</head>

<body>
    <ul>
        <li>version <span id="version"></span></li>
        <li>
            <a href="./cookie">cookie</a>
        </li>
        <li>
            <a href="./data">data</a>
        </li>
        <li>
            <a href="./localStorage">localStorage</a>
        </li>
        <li>
            <a href="./device">device</a>
        </li>
        <li>
            <a href="./object">object</a>
        </li>
        <li>
            <a href="./dom">dom</a>
        </li>
        <li>
            <a href="./string">string</a>
        </li>
        <li>
            <a href="./url?test=123">url</a>
        </li>
        <li>
            <a href="./date">date</a>
        </li>
        <li>
            <a href="./function">function</a>
        </li>
    </ul>
</body>
<%-include("./templates/pageFoot")%>
<script>
    document.querySelector("#version").innerHTML = lumos.version
</script>

</html>