<!DOCTYPE html>
<html>
    <%-include("./templates/pageHead",{title: title})%>
    <body>
        <h1>
            <%= title %>
        </h1>
     
        see the console
        <button onclick="deepClone()">deepClone</button>
        <%-include("./templates/pageFoot")%>
        <script>
            var a = {key: 123 };
            var b;
            function deepClone(params) {
                b = lumos.deepClone(a)
                b.key = 456
                console.log(a);
                console.log(b);
            }
        </script>
    </body>
</html>