html {
    height: 100%;
    background: #333;
    font-size:625%;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
html, body, p {
    margin: 0;
    padding: 0;
}

/* .halo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    border-radius: 33%;
    transform: scale(1.32);
    transition: box-shadow 1s ease-in-out;
}
.halo.bright {
    box-shadow: 0 80px 41px 10px #fff inset;
    animation: house-bright 5s 2s infinite;
} */

.title {
    text-align: center;
    font-size: .4rem;
    font-weight: 800;
    letter-spacing: .03rem;
    /* text-transform: uppercase; */
    padding-top: 1rem;
    margin-bottom: .8rem;
    color: #fff;
}
.wand-conent {
    margin-top: 50px;
}
.wand-conent  .wand img{
    display: block;
    width: 200px;
    margin: 0 auto;
    filter: blur(.5px);
}
.wand-conent  .light-spot {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    background: #fffbe1;
    border-radius: 50%;
    box-shadow: 0px 0px 19px #cbe2f9;
    filter: blur(6px);        
    outline: none;
    opacity: 0;
}
.wand-conent  .light-spot-animate {
    opacity: 1;
    animation: start-shine 4s forwards, shining 5s  4s infinite;
}
/* @keyframes house-bright {
    0% {
     box-shadow: 0 80px 41px 10px #fff inset;
    }
    50% {
     box-shadow: 0 80px 41px 15px #fff inset;

    }

    100% {
     box-shadow: 0 80px 41px 20px #fff inset;
    }
} */

@keyframes start-shine {
    0% {
        transform: scale(0.1);
    }

    25% {
        transform: scale(0.6);
    }
    65% {
        transform: scale(0.4);
    }

    100% {
        transform: scale(1.6);   
        box-shadow: 0px 0px 25px #cbe2f9;
    }
}
@keyframes shining {
    0% {
        transform: scale(1.6);            
        box-shadow: 0px 0px 25px #cbe2f9;             
    }
    50% {
        transform: scale(1.75);         
        filter: blur(7px);    
        box-shadow: 0px 0px 27px #cbe2f9;            
    }

    100% {
        transform: scale(1.6);         
        box-shadow: 0px 0px 25px #cbe2f9;         
    }
}